boto3
bleach
celery
channels
channels-redis
daphne
gunicorn
librosa
llama-index
markdown
numpy
openai
pandas
Pillow
pydub
pyspellchecker
python-decouple
python-dotenv
python-Levenshtein


# torch-2.2.1-cp310-cp310-manylinux1_x86_64.whl
# nvidia-cusparse-cu12==12.1.0.106